<h3><b>Great To See You {{name}}</b></h3>
{{#if stories}}

<table class="striped">
    <thead>
        <tr>
            <th><h5><b>Title</b></h5></th>
            <th><h5><b>Date</b></h5></th>
            <th><h5><b>Status</b></h5></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td style="color:black"><a href="/stories/{{_id}}"><h5><b>{{title}}</b></h5></a></td>
            {{!-- the line below has handlebar helper function(date,format) , where date is 'createdAt' and format is 'LLLL' --}}
            <td><b>{{formatDate createdAt 'LLLL'}}</b></td>
            <td><span class="dash-status"><b>{{status}}</b></span></td>
            <td> <a href="/stories/edit/{{_id}}" class="btn btn-float orange">
                    <i class="fas fa-edit"></i>
                </a>
                <form action="/stories/{{_id}}" method="post" id="delete-form">
                      <input type="hidden" name="_method" value="DELETE">
                      <button type="submit" class="btn red">
                          <i class="fas fa-trash"></i>
                      </button>
                </form></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>nothing written yet</p>
{{/if}}